<% if (title != "Contact") { %>
    <div class="col-md-12" style="top: 40px; border-radius:10px; background-color: rgb(13, 6, 27);">
        <h4><p>Contact information:</p>
        <br>
        <center>
        Facebook: <a href="https://www.facebook.com/angel.cb.12">AngelCB</a><p></p>
        email: acruzben@my.centennialcollege.ca
        </center>
    </h4>
    <br><br>
    </div>
    
<% } %>
</body>
</html>
